@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rating-group:hover .rating-star { color: #475569; }
.rating-group > label:hover ~ label span,
.rating-group > label:hover span,
.rating-group > input:checked ~ label span {
    color: #FBBF24 !important;
    font-variation-settings: 'FILL' 1 !important;
}
